<mat-toolbar color="warn">
  <mat-toolbar-row>
    <a mat-icon-button routerLink="/home" aria-label="Home">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-button routerLink="/products">Products</a>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button routerLink="/cart" aria-label="Shopping Cart">
      <mat-icon [matBadge]="productCount$ | async" 
                matBadgeColor="warn" 
                [matBadgeHidden]="(productCount$ | async) === 0"
                aria-hidden="false">
        shopping_cart
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div>
    <p>Sidebar</p>
</div>

<div>
    <router-outlet></router-outlet>
</div>