<mat-toolbar color="warn">
  <mat-toolbar-row>
    <a mat-icon-button routerLink="/home" aria-label="Home">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-button routerLink="/products">Products</a>

    <span class="toolbar-spacer"></span>
    
    <button mat-icon-button routerLink="/cart" aria-label="Shopping Cart">
      <mat-icon [matBadge]="productCount$ | async" 
                matBadgeColor="warn" 
                [matBadgeHidden]="(productCount$ | async) === 0"
                aria-hidden="false">
        shopping_cart
      </mat-icon>
    </button>

    <button mat-icon-button 
            [matMenuTriggerFor]="matMenu" 
            #menuTrigger="matMenuTrigger"
            (mouseenter)="menuTrigger.openMenu()"
            aria-label="User Profile">
      <mat-icon>account_circle</mat-icon>
    </button>

    <!-- Dropdown Menu -->
    <mat-menu #matMenu="matMenu">
      <div (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div>
    <p>Sidebar</p>
</div>

<div>
    <router-outlet></router-outlet>
</div>